@model MinimarketSantamaria.Models.Entidades.Ventas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ventas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSucursal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSucursal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUnidadMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUnidadMedida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVentas">Edit</a> |
    <a asp-action="ListadoVentas">Back to List</a>
</div>
